VITE_SUPABASE_URL=https://nvitmunfycthgbbdtypz.supabase.co
SUPABASE_URL=https://nvitmunfycthgbbdtypz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_OnsuohNw_bSLu2mcaJx--w_mMJ9n0go
SUPABASE_PUBLISHABLE_KEY=sb_publishable_OnsuohNw_bSLu2mcaJx--w_mMJ9n0go
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_new_supabase_secret_key
